/*
Color Palette for the website:
#363062 --Dark blue
#4D4C7D --Pale blue
#F99417 --Gold
#F5F5F5 --"Off" white
*/

nav {
  display: inline-block;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0%;
}

a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: basline;
  background: transparent;
  font-family: helvetica, arial, sans-serif;
}

#header {
  overflow: hidden;
  background-color: #14213d;
  padding: 0%;
  margin: 0px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}

.company {
  display: inline;
  padding-left: 10px;
  margin-top: 5px;
}

.navbar a {
  color: #fca311;
}

.nav-item {
  display: inline;
}

.navbar-nav {
  display: inline;
}

.navbar-nav a {
  font-size: 1.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 0.7em;
}

#splash {
  height: 40em;
  background-color: #e5e5e5;
  background-image: url(/Public/images/splashBackground.jpg);
  background-size: cover;
  font-size: 1.2rem;
  margin-top: 50px;
  color: #f99417;
}

#splash a {
  color: #f99417;
  font-size: 1.4rem;
}

#splash .title {
  width: 30%;
  text-align: center;
  padding-bottom: 30px;
  font-size: 3rem;
}

#splash .search-buttons {
  width: 15%;
}

#splash .button {
  width: 50%;
  float: left;
  text-align: center;
  background-color: #4d4c7d80;
  border-radius: 10px;
  margin-bottom: 10px;
}

#splash .button a {
  font-size: 2rem;
}

#splash .button:hover {
  background-color: #f5f5f5;
}

#searchBar {
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  height: 2em;
  width: 25em;
  top: 55%;
  background-color: #f5f5f5;
}

#searchBar input {
  text-align: left;
  width: 95%;
  margin: 10px;
  margin-top: 12px;
}

#cityCards {
  height: 30em;
}

#cityCards h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  top: 0;
}

.cards {
  display: flex;
  width: 75%;
  height: 100%;
}

.card {
  background-color: #4d4c7d;
  background-size: cover;
  width: 45%;
  border-radius: 10px;
  margin: 0 5% 0;
  /* box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.3) inset; */
}

.card h3 {
  padding-left: 15px;
  padding-top: 10px;
  font-size: 1.5rem;
  color: #f5f5f5;
  text-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

#atlanta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./images/atlanta.jpg);
}

#statesboro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./images/statesboro.jpg);
}

#recentHomes {
  height: 20em;
}

#recentHomes h2 {
  top: 0;
}

#recentHomes ul {
  padding-top: 5%;
}

#footer {
  position: relative;
  text-align: center;
  width: 50%;
  margin: auto;
}
